body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.root {
  display: grid;
  grid-template-areas: 'footer list main';
  grid-template-columns: 80px 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
